body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8fafc67;
}
h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0 0 15px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px;
  background-color: #dfe9f367;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}
.summary {
  padding: 25px;
}

.temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  top: -34px;
}

form {
  margin-bottom: 20px;
}

.current-weather img {
  margin-bottom: 35px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  padding: 15px 0px;
  margin: 3px;
}
.card:hover {
  background-color: #9cb9d167;
}
.weather-forecast {
  margin-bottom: 20px;
  text-align: center;
}
.weather-forecast img {
  margin-left: 10px;
}
.forecast-temp-low {
  opacity: 0.5;
}
.forecast-day {
  font-size: 16px;
  color: #7c7c7c;
}
.forecast-temp {
  font-size: 13px;
  color: #7c7c7c;
}
